@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

@import 'tailwindcss';

*{
    font-family: 'Delius Swash Caps';
}
#root, body, html{
    width: 100%;
    height: 100%;
}
html{
    scroll-behavior: smooth;
    scroll-margin-top: -5rem;
}

@media (min-width: 433px){
    #containerMax{
        padding-top: clamp(0px, 10vw, 100px);
        padding-bottom: clamp(0px, 10vw, 100px);
        
    }
    #container{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 30px;
        padding-bottom: 30px;
        filter: drop-shadow(2px 2px 5px rgb(102, 92, 83));
    }
    #container main{
        margin-top: 0px
    }
}