@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

@import 'tailwindcss';

*{
    font-family: 'Delius Swash Caps';
}
#root, body, html{
    width: 100%;
    height: 100%;
}